* {
    margin: 0;
    padding: 0;
}


#container{
    background-color: #f0f8ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.caixa {
    flex-grow: 1;
    width: 140px;
    height: 140px;
    background-color: #8a2be2;
    border: solid 6px black;
}